body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
    


}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 5px solid navy;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}


/* Restart game button style */
#restartButton {
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: grey;
}

/* Help button style */
#helpButton {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

}


.large-button {
    font-size: 18px;
}


#helpButton i {
    margin-right: 10px;

}


#helpButton:hover {
    background-color: grey;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 75% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 10px;
    
}

.social-media a {
    margin: 0 10px;
    font-size: 30px;
}


@media (max-width: 768px) {
    #board {
        width: 80vmin;
        height: 80vmin;
        justify-content: center;
        align-items: center;
            
    }

    .tile {
        height: 6vmin;
        width: 6vmin;
        margin: 4px;
       
    }
}
